.container
    max-width: auto
    padding: 20px 150px
    display: flex
    align-items: center
    justify-content: center
    height: 100vh
main
    width: 980px
    height: 500px
    display: flex
    align-items:  flex-end
    justify-content: space-between
    
.buttons
    width: 50% 
    display: flex
    flex-direction: column
    flex-wrap: wrap
    margin-bottom: 200px
.pokemons
    width: 50% 
    
    
