h1
    font-family: Raleway
    font-size: 48px
    font-weight: 700
    line-height: 48px
    color:  #A0A0A0
    text-transform: capitalize
p
    font-family: Raleway
    font-size: 17px
    font-weight: 500
    line-height: 26px
    color: white
img
    width: 396px
    height: 200px
.card
    display: flex
    flex-direction: column 
    background-color: #000000
    padding: 44px
       





